* {
    padding: 0;
    margin: 0;
}

body {
    max-height: 95vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #262626;
}

h1 {
    margin-top: 2vh;
    margin-bottom: -7.5vh;
    color: #fff;
    font-family: cursive;
    font-size: 5vh;
}

#tela {
    background-color: #000;
    height: 50vh;
    width: 100vh;
    margin-top: 10vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 5px #fff;
    border-radius: 5px;
}

#canhao {
    z-index: 3;
    width: 4vh;
    position: absolute;
    bottom: 67.5%;
}

#terra {
    z-index: 1;
    width: 20vh;
    position: absolute;
}

#bola {
    z-index: 2;
    width: 1vh;
    position: absolute;
    bottom: 70%;
}







/* FUNDO DA TELA */
#estrelas {
    box-shadow: -96vh 20vh 3px 0px #fff,-73vh 44vh 3px 1px #fff,82vh -21vh 2px 2px #fff,63vh 39vh 1px 0px #fff,-75vh -37vh 2px 0px #fff,-55vh 44vh 1px 0px #fff,-54vh -45vh 2px 1px #fff,87vh -40vh 0px 2px #fff,-41vh 23vh 1px 3px #fff,4vh 21vh 1px 2px #fff,55vh 34vh 2px 2px #fff,25vh -50vh 1px 3px #fff,99vh 40vh 1px 0px #fff,-68vh -5vh 0px 2px #fff,-28vh 3vh 2px 1px #fff,99vh -27vh 2px 3px #fff,-43vh 49vh 1px 2px #fff,-73vh -1vh 0px 0px #fff,21vh -10vh 1px 1px #fff,69vh 49vh 3px 2px #fff,16vh 39vh 2px 1px #fff,-22vh -48vh 1px 3px #fff,42vh -49vh 1px 2px #fff,-61vh 27vh 3px 3px #fff,-46vh 7vh 3px 2px #fff,-23vh -27vh 0px 2px #fff,29vh -15vh 2px 1px #fff,63vh -23vh 3px 1px #fff,4vh -22vh 0px 0px #fff,-45vh 10vh 1px 2px #fff,88vh -32vh 0px 2px #fff,-32vh 10vh 0px 1px #fff,18vh -29vh 3px 1px #fff,-69vh -36vh 3px 1px #fff,12vh -48vh 0px 3px #fff,-30vh -21vh 3px 3px #fff,-87vh -6vh 3px 3px #fff,53vh 17vh 1px 3px #fff,-14vh -15vh 3px 1px #fff,21vh 50vh 3px 1px #fff,27vh 3vh 0px 0px #fff,63vh 0vh 3px 0px #fff,-10vh 22vh 1px 0px #fff,36vh 0vh 3px 1px #fff,36vh 47vh 3px 0px #fff,-59vh 1vh 1px 2px #fff,75vh -26vh 2px 3px #fff,11vh 13vh 3px 2px #fff,85vh -24vh 0px 3px #fff,-95vh -29vh 3px 2px #fff,-13vh -7vh 0px 3px #fff,-87vh 34vh 3px 0px #fff,25vh -21vh 1px 3px #fff,59vh 37vh 0px 1px #fff,47vh -34vh 3px 1px #fff,-25vh -25vh 1px 3px #fff,-13vh 0vh 1px 1px #fff,-60vh -13vh 3px 3px #fff,-19vh 21vh 0px 3px #fff,-78vh 8vh 1px 2px #fff,10vh -14vh 0px 2px #fff,-16vh -48vh 3px 3px #fff,44vh 11vh 2px 2px #fff,83vh -29vh 3px 3px #fff,-45vh 34vh 0px 0px #fff,-89vh -9vh 2px 3px #fff,29vh -34vh 0px 0px #fff,-75vh 21vh 0px 1px #fff,-57vh -7vh 1px 0px #fff,-34vh -12vh 1px 0px #fff,-89vh 42vh 3px 0px #fff,-56vh 17vh 1px 0px #fff,-84vh -20vh 1px 2px #fff,-87vh -26vh 0px 1px #fff,-7vh 45vh 1px 1px #fff,-30vh -45vh 3px 2px #fff,48vh -6vh 2px 1px #fff,28vh 45vh 2px 0px #fff,34vh -46vh 3px 1px #fff,78vh 12vh 0px 2px #fff,29vh -21vh 2px 1px #fff,-84vh -26vh 0px 1px #fff,-37vh -34vh 0px 2px #fff,89vh -35vh 1px 1px #fff,-16vh 26vh 3px 0px #fff,20vh 26vh 0px 0px #fff,-34vh 3vh 3px 1px #fff,5vh 26vh 1px 3px #fff,-32vh -44vh 1px 3px #fff,-18vh 19vh 2px 3px #fff,-15vh -12vh 0px 1px #fff,-57vh 30vh 0px 2px #fff,-43vh 34vh 3px 0px #fff,23vh 29vh 0px 1px #fff,-63vh -15vh 2px 2px #fff,-53vh -33vh 0px 0px #fff,21vh 22vh 1px 1px #fff,-82vh -39vh 3px 2px #fff,60vh -11vh 3px 0px #fff,26vh -2vh 2px 3px #fff;
    animation: zoom 10s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(0.48);
    }
    100%{
        transform: scale(0.5);
    }
}