body {
    overflow-x: hidden;
    overflow-y: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #262626;
}

h1 {
    color: #fff;
    font-family: cursive;
}

#quadro {
    width: 1001px;
    height: 601px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid white 3px;
    border-radius: 3px;
    background-color: #000;
}

#terra {
    width: 140px;

    z-index: 1;
    position: absolute;

    border-radius: 50%;
}

#canhao {
    width: 40px;

    z-index: 3;
    position: absolute;
    bottom: 360px;
}

#bola {
    width: 10px;

    left: 509px;
    bottom: 382.5px;

    z-index: 1;
    position: absolute;

    border-radius: 50%;
    box-shadow: 0 0 15px 2.5px yellow;
}

/* FUNDO ESTRELADO DA TELA */
#estrelas {
    position: absolute;

    box-shadow: 180px 39px 3px 2px #fff,-469px 339px 3px 3px #fff,523px -218px 1px 3px #fff,801px 599px 0px 0px #fff,37px -214px 1px 0px #fff,52px 163px 3px 3px #fff,-950px -455px 3px 0px #fff,-964px -581px 0px 2px #fff,-618px -498px 1px 0px #fff,-946px -291px 1px 2px #fff,211px 563px 1px 0px #fff,-542px -421px 2px 3px #fff,-819px -494px 1px 1px #fff,-63px 90px 2px 3px #fff,-470px 451px 1px 0px #fff,-590px -504px 2px 2px #fff,575px 231px 3px 3px #fff,765px 379px 0px 1px #fff,46px 485px 2px 3px #fff,309px 363px 0px 0px #fff,-113px -541px 0px 1px #fff,-859px 207px 0px 0px #fff,-994px -69px 2px 0px #fff,-297px -308px 0px 1px #fff,-432px -185px 2px 1px #fff,-901px 123px 3px 0px #fff,40px -446px 3px 3px #fff,465px -37px 2px 3px #fff,753px -448px 0px 3px #fff,-920px -519px 2px 2px #fff,-1000px 20px 3px 1px #fff,-822px 558px 3px 3px #fff,743px 597px 3px 0px #fff,445px -107px 2px 0px #fff,-897px 61px 3px 1px #fff,-270px 400px 2px 0px #fff,-430px 473px 1px 0px #fff,-716px -583px 1px 2px #fff,-287px 421px 0px 0px #fff,-260px 226px 1px 3px #fff,-338px -458px 2px 3px #fff,244px 331px 0px 3px #fff,312px -158px 2px 2px #fff,70px -370px 2px 1px #fff,-786px -246px 0px 1px #fff,873px 303px 2px 1px #fff,388px -211px 3px 3px #fff,988px -110px 1px 2px #fff,-628px -500px 2px 1px #fff,-957px -377px 3px 0px #fff,317px 477px 2px 0px #fff,682px 329px 0px 3px #fff,-725px 74px 0px 1px #fff,983px -339px 3px 1px #fff,-629px -4px 2px 0px #fff,-158px -110px 0px 2px #fff,-983px 473px 2px 2px #fff,-679px -4px 3px 0px #fff,436px 445px 1px 0px #fff,-165px -2px 3px 3px #fff,611px 332px 0px 3px #fff,-451px -498px 0px 0px #fff,965px 386px 2px 0px #fff,-680px 272px 1px 2px #fff,937px -185px 0px 2px #fff,-524px -237px 2px 1px #fff,-551px -409px 2px 2px #fff,-972px 35px 3px 0px #fff,395px -260px 1px 2px #fff,611px -395px 0px 1px #fff,-962px -175px 3px 2px #fff,964px -524px 2px 0px #fff,295px 374px 3px 2px #fff,163px -523px 1px 3px #fff,622px -246px 2px 0px #fff,-118px 229px 2px 0px #fff,764px 263px 3px 2px #fff,277px -61px 2px 3px #fff,714px -288px 3px 0px #fff,-226px -61px 2px 2px #fff,-875px 57px 1px 1px #fff,454px -596px 2px 0px #fff,679px -388px 3px 1px #fff,517px -591px 1px 0px #fff,590px 120px 2px 0px #fff,-627px -77px 1px 3px #fff,636px -376px 2px 0px #fff,-821px -79px 0px 1px #fff,959px 194px 0px 0px #fff,-823px 96px 0px 0px #fff,261px -551px 0px 3px #fff,79px 203px 2px 3px #fff,-805px -190px 2px 1px #fff,297px -447px 3px 3px #fff,288px 487px 0px 0px #fff,-965px -155px 0px 0px #fff,-655px 194px 2px 1px #fff,-486px -64px 0px 1px #fff,189px -183px 1px 3px #fff,462px 511px 1px 1px #fff;
    animation: zoom 10s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(0.48);
    }
    100%{
        transform: scale(0.5);
    }
}